@model CoreShared.ModelsDto.CalculatorResultDto

<div class="row w-100 mx-auto my-2"><h4>Result</h4></div>
<div class="col-md-12 justify-content-around">
    <div class="row bg-secondary text-white">
        <div class="col-md-4 text-center border border-dark">
            <h4 class="align-text-top">X</h4>
        </div>
        <div class="col-md-4 text-center border border-dark">
            <h4 class="align-text-top">Y</h4>
        </div>
        <div class="col-md-4 text-center border border-dark">
            <h4 class="align-text-top">Z</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center border border-secondary">@Model.Xcoordinate</div>
        <div class="col-md-4 text-center border border-secondary">@Model.Ycoordinate</div>
        <div class="col-md-4 text-center border border-secondary">@Model.Zcoordinate</div>
    </div>
</div>
<div class="col-md-12">

</div>