<div class="text-center">
    <h1 class="display-5 my-5">@ViewData["Title"]</h1>
    <div class="text-justify">
        Here you will find documentation on how to integrate our Api into your application

        <div class="row w-100 mx-auto mt-4">POST Api endpoint:</div>
        <div class="col-md-auto my-2">
            <input class="form-control" type="text" readonly value=@ViewData["ApiEndpoint"] />
        </div>

        <div class="row w-100 mx-auto mt-4">Parameters:</div>
        <div class="col-md-auto my-2 justify-content-around">
            <div class="row mx-auto bg-secondary text-white">
                <div class="col-md-2 text-center border border-dark">
                    <h4 class="align-text-top">Name</h4>
                </div>
                <div class="col-md-2 text-center border border-dark">
                    <h4 class="align-text-top">Type</h4>
                </div>
                <div class="col-md-8 text-center border border-dark">
                    <h4 class="align-text-top">Description</h4>
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col-md-2 text-left pl-3 border border-secondary">Theta (&theta;)</div>
                <div class="col-md-2 text-center border border-secondary">double</div>
                <div class="col-md-8 text-left pl-3 border border-secondary">
                    Joint angle obtained between the
                    X<sub>i-1</sub> and X<sub>i</sub> axes on the Z<sub>i-1</sub> axis (using the right hand rule with
                    the thumb in Z<sub>i-1</sub>)
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col-md-2 text-left pl-3 border border-secondary">Distance D</div>
                <div class="col-md-2 text-center border border-secondary">double</div>
                <div class="col-md-8 text-left pl-3 border border-secondary">
                    Distance between origin (<sub>i-1</sub>)
                    iesimal coordinate system to the intersection of the Z<sub>i-1</sub> axis with the X<sub>i</sub>
                    axis along the Z<sub>i-1</sub> axis
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col-md-2 text-left pl-3 border border-secondary">Distance A</div>
                <div class="col-md-2 text-center border border-secondary">double</div>
                <div class="col-md-8 text-left pl-3 border border-secondary">
                    Distance between the intersection of the
                    Z<sub>i-1</sub> axis with the X<sub>i</sub> axis to the origin of the iesimal reference system along
                    X<sub>i</sub> (or shorter distance between the Z<sub>i-1</sub> and Z<sub>i</sub> axes)
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col-md-2 text-left pl-3 border border-secondary">Alpha (&alpha;)</div>
                <div class="col-md-2 text-center border border-secondary">double</div>
                <div class="col-md-8 text-left pl-3 border border-secondary">
                    Is the angle between the Z<sub>i-1</sub>
                    and Z<sub>i</sub> axes measured on the X<sub>i</sub> axis (right hand rule)
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col-md-2 text-left pl-3 border border-secondary">Options (optional)</div>
                <div class="col-md-2 text-center border border-secondary">string</div>
                <div class="col-md-8 text-left pl-3 border border-secondary">
                    R: simple response, <strong>default</strong> if not specified (only coordinates: x, y, z)<br />
                    F: full response (descriptive with full data used to generate result)
                </div>
            </div>
        </div>

        <div class="row w-100 mx-auto mt-4">Example:</div>
        <div class="col-md-auto my-2">
            <pre style="background-color: #e9ecef; opacity: 1; border-radius: .25rem;"><code>
    $ curl @ViewData["ApiEndpoint"] -X POST -v -H "Content-type: application/json"
        -d '{
                "Options": "F",
                "Joints":
                [
                    {
                        "Theta": 0.85091,
                        "DistanceD": 56,
                        "DistanceA": 0.83,
                        "Alpha": 0.52532
                    },
                    {
                        "Theta": 0.52532,
                        "DistanceD": 32,
                        "DistanceA": 0.87,
                        "Alpha": 0.85091
                    }
                ]
            }'

</code></pre>
        </div>

        <div class="row w-100 mx-auto mt-4">Response:</div>
        <div class="col-md-auto my-2">
            <pre style="background-color: #e9ecef; opacity: 1; border-radius: .25rem;"><code>
    {
        "Xcoordinate":0.24418258451121255,
        "Ycoordinate":-0.1718334444789794,
        "Zcoordinate":0.24418258451121255,
        "MatrixA0":[
            [
                0.24418258451121255,
                0.24418258451121255,
                0.24418258451121255,
                0.24418258451121255
            ],
            [
                -0.1718334444789794,
                -0.1718334444789794,
                -0.1718334444789794,
                -0.1718334444789794
            ],
            [
                0.24418258451121255,
                0.24418258451121255,
                0.24418258451121255,
                0.24418258451121255
            ],
            [
                1,
                1,
                1,
                1
            ]
        ],
        "Joints":[
            {
                "InputData":{
                    "Theta":0.85091,
                    "DistanceD":56,
                    "DistanceA":0.83,
                    "Alpha":0.52532
                },
                "MatrixAn":[
                    [
                        "Cos(0.85091)",
                        "-Cos(0.52532) * Sin(0.85091)",
                        "Sin(0.52532) * Sin(0.85091)",
                        "0.83 * Cos(0.85091)"
                    ],
                    [
                        "Sin(0.85091)",
                        "Cos(0.52532) * Cos(0.85091)",
                        "-Sin(0.52532) * Cos(0.85091)",
                        "0.83 * Sin(0.85091)"
                    ],
                    [
                        "0",
                        "Sin(0.52532)",
                        "Cos(0.52532)",
                        "56"
                    ],
                    [
                        "0",
                        "0",
                        "0",
                        "1"
                    ]
                ]
            },
            {
                "InputData":{
                    "Theta":0.52532,
                    "DistanceD":32,
                    "DistanceA":0.87,
                    "Alpha":0.85091
                },
                "MatrixAn":[
                    [
                        "Cos(0.52532)",
                        "-Cos(0.85091) * Sin(0.52532)",
                        "Sin(0.85091) * Sin(0.52532)",
                        "0.87 * Cos(0.52532)"
                    ],
                    [
                        "Sin(0.52532)",
                        "Cos(0.85091) * Cos(0.52532)",
                        "-Sin(0.85091) * Cos(0.52532)",
                        "0.87 * Sin(0.52532)"
                    ],
                    [
                        "0",
                        "Sin(0.85091)",
                        "Cos(0.85091)",
                        "32"
                    ],
                    [
                        "0",
                        "0",
                        "0",
                        "1"
                    ]
                ]
            }
        ]
    }

</code></pre>
        </div>
    </div>
</div>
