<div class="text-center">
    <h1 class="display-5 my-5">@ViewData["TitlePage"]</h1>
    <div class="text-justify">
        Here you will find documentation on how to integrate our api into your application.

        <div class="row w-100 mx-auto mt-4">Api endpoint:</div>
        <div class="col-md-12 my-2">
            <input class="form-control" type="text" disabled value=@ViewData["ApiEndpoint"] />
        </div>

        <div class="row w-100 mx-auto mt-4 mb-2">Parameters:</div>


        <div class="col-md-12">
            <div class="col mb-2">Angle Theta (<i class="theta"></i>): double value</div>
            <div class="col mb-2">Distance D (<i class="d-ch"></i>): double value</div>
            <div class="col mb-2">Distance A (<i class="a-ch"></i>): double value</div>
            <div class="col mb-2">Angle Alpha (<i class="alpha"></i>): double value</div>
            <div class="col mb-2">
                Options (optional):
                <div class="col">
                    <strong>S</strong>: simple response, <strong>default</strong> if not specified (returns only coordinates: x, y, z)
                </div>
                <div class="col">
                    <strong>F</strong>: full response (returns all data used to generate result)
                </div>
            </div>
        </div>
    </div>

    <div class="row w-100 mx-auto mt-4">Example:</div>
    <div class="col-md-12 my-2">
        <div class="input-group">
            <input id="example" class="form-control" type="text" readonly value="@ViewData["CurlExample"]" />
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary rounded-right" onclick="copyToClipboard('#example')"><i style="color: lightgray;" class="fa fa-copy"></i></button>
            </div>
        </div>
    </div>

    <div class="row w-100 mx-auto mt-4">Response:</div>
    <div class="col-md-12 my-2">
        <pre class="p-3" style="text-align:left; color: #495057; background-color: #e9ecef; opacity: 1; border-radius: .25rem; max-height: 300px;">@ViewData["ExampleResponse"]</pre>
    </div>
</div>
