<div class="text-center">
    <h1 class="display-5 my-5">@ViewData["Title"]</h1>
    <div class="text-justify mx-5">
        <p>You can easily calculate coordinates to you project using this calculator.</p>

        <div class="text-center">
            Enter data in the fields and press the calculate button to get the results
            <form #calculator asp-controller="Calculator" asp-action="Calculate" 
            method="POST" 
            data-ajax-method="POST"
            data-ajax="true"
            data-ajax-mode="replace" 
            data-ajax-update="#calculatorResult">
                <button type="submit" class="btn btn-secondary">Calculate</button>

        <div class="row" id="calculatorResult">
            
        </div>
            </form>
        </div>

    </div>
</div>
