<div class="text-center">
    <h1 class="display-5 my-5">@ViewData["Title"]</h1>
    <div class="text-justify mx-5">
        <p>You can easily calculate coordinates to you project using this calculator.</p>
    </div>
</div>
