<div class="text-center">
    <h1 class="display-5 my-5">Welcome to Denavit Hartenberg calculator</h1>
    <div class="text-justify">
        This site was created to provide a coordinate calculation tool for automation coordinates and robotics, you can also use our @Html.ActionLink("api", "Api", "Home") if you want to integrate this solution into your application.
        <h3 class="my-5">What is the Denavit Hartenberg convention?</h3>

        <div class="text-center">
            <div class="text-justify">
                It is a convention created to systematize the input of a cinematographic model from 4 parameters for each joint of a robot.<br />
                There are four parameters for each joint:
                <div class="row justify-content-center my-3">
                    <div class="col-md-auto">
                        <i class="theta-i"></i>: angle between adjacent links<br />
                        <i class="d-ch-i"></i>: distance between adjacent links<br />
                        <i class="a-ch-i"></i>: shortest distance between joint axes<br />
                        <i class="alpha-i"></i>: joint link twist<br />
                    </div>

                    <div class="col-md-auto">
                        <img style="max-height: 300px;" src="~/assets/images/Classic-DHparameters.png">
                    </div>
                </div>

                    <div class="col-md-12 mt-2 mb-4">
                        <div class="row border border-dark ">
                            <div class="col-md-2 table-info-title">
                                <h4 class="my-2">Name</h4>
                            </div>
                            <div class="col-md-2 table-info-title">
                                <h4 class="my-2">Type</h4>
                            </div>
                            <div class="col-md-8 table-info-title">
                                <h4 class="my-2">Description</h4>
                            </div>
                            <div class="col-md-2 table-info-content p-3"><span>Angle Theta (<i class="theta"></i>)</span></div>
                            <div class="col-md-2 table-info-content-justified"><span>double</span></div>
                            <div class="col-md-8 table-info-content px-3">
                                <span>
                                    Joint angle obtained between the
                                    X<sub>i-1</sub> and X<sub>i</sub> axes on the Z<sub>i-1</sub> axis (using the right hand rule with
                                    the thumb in Z<sub>i-1</sub>)
                                </span>
                            </div>
                            <div class="col-md-2 table-info-content p-3"><span>Distance D (<i class="d-ch"></i>)</span></div>
                            <div class="col-md-2 table-info-content-justified"><span>double</span></div>
                            <div class="col-md-8 table-info-content px-3">
                                <span>
                                    Distance between origin (<sub>i-1</sub>)
                                    iesimal coordinate system to the intersection of the Z<sub>i-1</sub> axis with the X<sub>i</sub>
                                    axis along the Z<sub>i-1</sub> axis
                                </span>
                            </div>
                            <div class="col-md-2 table-info-content p-3"><span>Distance A (<i class="a-ch"></i>)</span></div>
                            <div class="col-md-2 table-info-content-justified"><span>double</span></div>
                            <div class="col-md-8 table-info-content px-3">
                                <span>
                                    Distance between the intersection of the
                                    Z<sub>i-1</sub> axis with the X<sub>i</sub> axis to the origin of the iesimal reference system along
                                    X<sub>i</sub> (or shorter distance between the Z<sub>i-1</sub> and Z<sub>i</sub> axes
                                </span>
                            </div>
                            <div class="col-md-2 table-info-content p-3"><span>Angle Alpha (<i class="alpha"></i>)</span></div>
                            <div class="col-md-2 table-info-content-justified"><span>double</span></div>
                            <div class="col-md-8 table-info-content px-3">
                                <span>
                                    Is the angle between the Z<sub>i-1</sub>
                                    and Z<sub>i</sub> axes measured on the X<sub>i</sub> axis (right hand rule)
                                </span>
                            </div>
                        </div>
                    </div>

                The homogeneous transformation matrix <strong><sup>i-1</sup>A<sub>i</sub></strong> is used to produce a composite transformation matrix which in turn is used to obtain the desired coordinates

                <div class="mt-3"><strong><sup>i-1</sup>A<sub>i</sub></strong></div>
                <div class="col-md-12 border border-dark justify-content-around mb-3">
                    <div class="row">
                        <div class="col-md-3 border border-dark text-center"> Cos(<i class="theta"></i>) </div>
                        <div class="col-md-3 border border-dark text-center"> -Cos(<i class="alpha"></i>) * Sin(<i class="theta"></i>) </div>
                        <div class="col-md-3 border border-dark text-center"> Sin(<i class="alpha"></i>) * Sin(<i class="theta"></i>) </div>
                        <div class="col-md-3 border border-dark text-center"> <i class="a-ch"></i> * Cos(<i class="theta"></i>) </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 border border-dark text-center"> Sin(<i class="theta"></i>) </div>
                        <div class="col-md-3 border border-dark text-center"> Cos(<i class="alpha"></i>) * Cos(<i class="theta"></i>) </div>
                        <div class="col-md-3 border border-dark text-center"> -Sin(<i class="alpha"></i>) * Cos(<i class="theta"></i>) </div>
                        <div class="col-md-3 border border-dark text-center"> <i class="a-ch"></i> * Sin(<i class="theta"></i>) </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 border border-dark text-center"> 0 </div>
                        <div class="col-md-3 border border-dark text-center"> Sin(<i class="alpha"></i>) </div>
                        <div class="col-md-3 border border-dark text-center"> Cos(<i class="alpha"></i>) </div>
                        <div class="col-md-3 border border-dark text-center"> <i class="d-ch"></i> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 border border-dark text-center"> 0 </div>
                        <div class="col-md-3 border border-dark text-center"> 0 </div>
                        <div class="col-md-3 border border-dark text-center"> 0 </div>
                        <div class="col-md-3 border border-dark text-center"> 1 </div>
                    </div>
                </div>

                Resulting matrix:
                <div class="col-md-12 my-3">
                    <sup>0</sup><strong>A</strong><sub>4</sub> = <sup>0</sup><strong>A</strong><sub>1</sub> * <sup>1</sup><strong>A</strong><sub>2</sub> * <sup>2</sup><strong>A</strong><sub>3</sub> * <sup>3</sup><strong>A</strong><sub>4</sub>
                </div>

                Coordinates:
                <div class="col-md-12 px-0 my-2">
                    <div class="row align-items-end">
                        <div class="col-md-1">
                            <div class="row mx-0 justify-content-center border border-dark">
                                <div class="col-12 border border-dark text-center">X</div>
                                <div class="col-12 border border-dark text-center">Y</div>
                                <div class="col-12 border border-dark text-center">Z</div>
                                <div class="col-12 border border-dark text-center">1</div>
                            </div>
                        </div>
                        <div class="col-md-1 align-self-center">
                            <div class="row mx-0 justify-content-center">
                                <div class="col-12 text-center"><strong style="font-size: xx-large">=</strong></div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="w-100 text-center"><sup>0</sup><strong>A</strong><sub>4</sub></div>
                            <div class="row mx-0 justify-content-center border border-dark">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>11</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>12</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>13</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>14</small></sub></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>21</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>22</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>23</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>24</small></sub></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>31</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>32</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>33</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>34</small></sub></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>41</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>42</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>43</small></sub></div>
                                        <div class="col-md-3 border border-dark text-center">v<sub><small>44</small></sub></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 align-self-center">
                            <div class="row mx-0 justify-content-center">
                                <div class="col-12 text-center"><strong style="font-size: xx-large">&times;</strong></div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="row mx-0 justify-content-center border border-dark">
                                <div class="col-12 border border-dark text-center">0</div>
                                <div class="col-12 border border-dark text-center">0</div>
                                <div class="col-12 border border-dark text-center">0</div>
                                <div class="col-12 border border-dark text-center">1</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
