<div class="text-center">
    <h1 class="display-5 my-5">Welcome to Denavit Hartenberg calculator</h1>
    <div class="text-justify mx-5">
        <p>This site was created to provide a coordinate calculation tool for automation coordinates and robotics, you can also use our @Html.ActionLink("Api", "Api", "Home") if you want to integrate our solution into your application!</p>
        <h3 class="my-5">What is the Denavit Hartenberg Method?</h3>
    </div>
</div>
