@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="text-center">
        <div class="vsc-initialized"></div>
        <div style="margin-top: 50px;">
            <img src="~/assets/images/error-icon.png" style="max-width: 25%;margin-bottom: 40px;" alt="error">
            <div>
                <h1>Ops!</h1>
            </div>
            <h5>
                The page you are looking for is not found 
            </h5>
            <div>
                @Html.ActionLink("return to site", "Index", "Home", null, new { @class = "mt-4 btn btn-secondary text-white" })
            </div>
        </div>
    </div>
</body>

</html>
